@import '../../styles/settings.scss';

.columnForm {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    input {
        border: 2px solid $color-success;
        border-radius: 5px;
        height: 42px;
    }

    button {
        height: 42px;
    }
}

@media (max-width: 720px) {
    .columnForm {
        flex-direction: column;
        gap: 12px;
    }
}